body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: hotpink;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 10px dotted purple ;
  margin: 10px;
}
p{ font-size: 3.9 em;
    font-style: italic;
    color:rgb(159, 127, 255)
    
}
    


h2 {
  font-size: 1.9em;
  font-style: italic;
  
}


.job-title {
  color: #2d6fac;
  font-weight: bold;
  font-size: 3.9 em;
  
}
ol{ background-color:rgba(37, 174, 233, 0.319);
    border:10px solid hotpink;
    padding: 60px;
    list-style-type: none;
    text-align:left;
}


a:link,
a:visited {
  color: rgb(99, 35, 142);
  text-decoration:none;
}

a:hover {
  color: rgb(42, 41, 100);
}
